extends  ../_skeleton

block page

    section.home
        .grid
            .home__container.container
                .home__text.width-1-2
                    h3.home__name Anna Kyriienko
                    h5.home__position Junior Front-End Developer
                    ul.home__list
                        li.home__item
                            i.fas.fa-envelope-open
                            span kirienko-a11@ukr.net
                        li.home__item
                            i.fas.fa-window-restore
                            span mysite.com.ua
                        li.home__item
                            i.fab.fa-skype
                            span liberty_in66
                        li.home__item
                            i.fas.fa-phone
                            span +380 93 35 85 654
                        li.home__item
                            i.fas.fa-map-marker-alt
                            span Str. Rapoporta, 5, Chernihiv, UK
                    ul.socials
                        li.socials__item
                            a.socials__link(href="#")
                                svg(version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="30px" y="30px" viewBox="0 0 112.196 112.196" style="enable-background:new 0 0 112.196 112.196;" xml:space="preserve")
                                    circle(style="fill:#3B5998;" cx="56.098" cy="56.098" r="56.098")
                                    path(style="fill:#FFFFFF;" d="M70.201,58.294h-10.01v36.672H45.025V58.294h-7.213V45.406h7.213v-8.34 c0-5.964,2.833-15.303,15.301-15.303L71.56,21.81v12.51h-8.151c-1.337,0-3.217,0.668-3.217,3.513v7.585h11.334L70.201,58.294z")
                        li.socials__item
                            a.socials__link(href="https://www.facebook.com/profile.php?id=100005679458966" target="_blank")
                                span.icon-facebook
                        li.socials__item
                            a.socials__link(href="https://www.linkedin.com/in/anna-kyriienko/" target="_blank")
                                span.icon-linkedin 
                        li.socials__item
                            a.socials__link(href="https://plus.google.com/u/0/109629898527961940501" target="_blank")
                                span.icon-google-plus 
                .home__img.width-1-2  
                    img(src="img/home_img.jpg", alt="Profile picture")
    section.about
        .grid
            .about__container.container
                p.about__description  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                .about__btns
                    a.btn.about__btn.js-download(href="file/Front-end-developer-Kyriienko.pdf" download="Front-end-developer-Kyriienko") Download CV
                    a.btn.about__btn.icon-sprite(href="#") 
                        | Contact me
    section.education   
        .grid
            .education__container
                .section-title

