h1 {

}

h2 {

}

h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.18rem;
    letter-spacing: .03em;
}

h4 {
 
}

h5 {

    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: .03em;

}

p {
    font-size: 14px;
    font-weight: 400;
}
