// colors

$main-color: #282828;
$text-color: #7b7b7b;
$color-green: #06a763;
$color-section: #262525;


// font family 

$font-raleway: 'Raleway', serif;

// box-shadow base

$box-shadow-base: 0px 3px 3px 3px rgba(38,37,37,0.9);