.section-title {

    .title {
        background-color: $main-color;
        box-shadow: $box-shadow-base;

        span {
            padding: 10px;
            display: block;
        }

    }
    
}