.socials {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
        
    }

    &__link {
        
        text-decoration: none;

        &:hover {
            box-shadow: $box-shadow-base;
        }

        span {
            display: block;
        }

        span:not(last-child) {
            margin-right: 10px;
        }
    }
}